@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.App {
  text-align: center;
  color: blue;
}

body,
html {
  font-family: Montserrat, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
