#back {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  bottom: 0;
}

#photo {
  width: 90vh;
  height: 90vh;
  object-fit: cover;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 5.5vw;
  margin-right: 5vw;
}
