#wrapDiv {
  background-color: rgba(0, 0, 0, 0.1);
  width: 20vw;
  height: 100vh;
  position: fixed;
  top: 0vh;
  right: 0vw;
  overflow-y: scroll;
}

.navImg {
  display: inline;
  position: relative;
  float: center;
  width: 15vw;
  height: 10vw;
  margin-left: 2.5vw;
}
