#back {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  width: 65vw;
  height: 80vh;
  top: 10vh;
  left: 5vw;
}
#photo {
  width: 70vh;
  height: 70vh;
  object-fit: cover;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 3vw;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: inline-block;
}
#photoProps {
  float: right;
  margin: 0vh 3vw 5vh 0vw;
  width: 22.5vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#goBackButt {
  position: absolute;
  bottom: 5vh;
  background-color: #bee6ba;
  color: #3c6339;
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  font-size: 110%;
}
#goBackButt:hover {
  background-color: #a5d1a1;
}

#imageText {
  position: fixed;
  top: 0;
  background: none;
  height: 70vh;
}

#pDesc {
  font-size: 130%;
}